{% extends "HTMS_App/inventory.html" %} 
{% block new_assets %}


{% load static %} 
<link rel='stylesheet' href={% static 'HTMS_App/new_assets.css' %}>


{% if create_assest or add_quantity %}
<form class= 'new-incident-form' method="post">
  {% csrf_token %}

    <div class="new-incident-header">
      <span for="header">
        {% if asset_header %}
        {{ asset_header }}
        {%endif%}
      </span>
    </div>

  {% if create_assest %}
  <section class='create_assest-container'>
        <ul class="create_assest-form">
          <li>
            <header>Add New Asset Type</header> 
            <input type="hidden" name="create_asset" value="create_asset">
          </li>
  
          <li class='requester-input'>
              <label for="asset_name">Asset Name<span class='required-field'>*</span></label>
              <input type="text" name="asset_name" id="asset_name" placeholder="Desktop / Laptop / All In One / Keyboard / RAM / etc..." required />
          </li>
  
          <li class="requester-input">
            <label for="asset_type">Asset Type<span class='required-field'>*</span></label>
            <select  name="asset_type" class="select" id="asset_type">
              <option disabled selected hidden value=""> -- Select Asset Type -- </option>
              <option value="hardware">Hardware</option>
              <option value="software">Software</option>
            </select>
          </li>

          <li class="requester-input-description">
            <label  class='asset_description' for='description'>Asset Description</label>
            <textarea  class='incident-description-textarea' rows="5" cols="33" type="text" name="description" id="description"
              placeholder="Provide detailed reason, why is there a need to create a new asset?"></textarea>
            <button type='submit' class='submit-button'>
                <span class='btn--add btn--text'>Submit</span>
            </button>
          </li>
        </ul>
   </section>
  {%endif%}

  {% if add_quantity %}
  <section class='add_qty_assest-container'>
    <ul class="create_assest-form">
      <li>
        <header>Add Quantity</header> 
        <input type="hidden" name="add_qty_asset" value="add_qty_asset">
      </li>

      <li class="requester-input">
        <label for="add_asset_name">Asset Name<span class='required-field'>*</span></label>
        <select  name="add_asset_name"  id="add_asset_name"
        {% if asset_details_objects.asset_name.id %} disabled class="select disabled">
        <option class="select-hidden" disabled selected hidden value="">{{asset_details_objects.asset_name.asset_name}}</option>
        {% else %} class="select ">
          <option class="select-hidden" disabled selected hidden value=""> -- Select Asset Name -- </option>
          {% for asset in all_assets_heads %}
          <option value="{{asset.id}}">{{asset.asset_name}}</option>
          {% endfor %}
        {%endif%}
        </select>
      </li>

      <li class='requester-input'>
          <label for="asset_brand">Brand<span class='required-field'>*</span></label>
          <input type="text" name="asset_brand" id="asset_brand" placeholder="HP / Dell / Lenovo / Iball / Logitech / etc..." required/
          {% if asset_details_objects.brand %} class='disabled'
          value="{{ asset_details_objects.brand }}" disabled 
          {% endif%}
          >
      </li>

      <li class='requester-input'>
        <label for="model_name">Model Name</label>
        <input type="text" name="model_name" id="model_name" placeholder="Model XXXXXXX" 
        {% if asset_details_objects.model_name %} disabled class='disabled' 
        value="{{ asset_details_objects.model_name }}" 
        {% endif%}
        /> 
      </li>

      <li class='requester-input'>
        <label for="model_number">Model Number<span class='required-field' >*</span></label>
        <input type="text" name="model_number" id="model_number" placeholder="XXXXXXX" required
        {% if asset_details_objects.model_number %}class='disabled'
        value="{{ asset_details_objects.model_number }}" disabled 
        {% endif%}
        />
      </li>

      <li class='requester-input'>
        <label for="serial_number">Serial Number<span class='required-field' >*</span></label>
        <input type="text" name="serial_number" id="serial_number" placeholder="XXXXXXX" required
        {% if asset_details_objects.serial_number %} class='disabled'
        value="{{ asset_details_objects.serial_number }}" disabled 
        {% endif%}
        />
      </li>

      <li class='requester-input'>
        <label for="date_of_purchase">Date of Purchase<span class='required-field' >*</span></label>
        <input type="date" id="date_of_purchase" name="date_of_purchase"  required
        {% if asset_details_objects.date_of_purchase %} class='disabled'
        value="{{ asset_details_objects.date_of_purchase|date:"Y-m-d"   }}" disabled 
        {% else %}
        value="{% now "Y-m-d" %}"
        {% endif%}
        />
      </li>

      <li class='requester-input'>
        <label for="expiration_date">Expiration Date</label>
        <input type="date" id="expiration_date" name="expiration_date" 
        {% if asset_details_objects.expiration_date %} class='disabled'
        value="{{ asset_details_objects.expiration_date|date:"Y-m-d"   }}" disabled 
        {% endif%}
        />
      </li>

      <li class="requester-input">
        <label for="asset_current_status">Current Status<span class='required-field'>*</span></label>
        <select  name="asset_current_status" class="select" id="asset_current_status" required
          {% if asset_details_objects.current_status %} >
          <option class="select-hidden" selected hidden value="{{asset_details_objects.current_status}}">{{asset_details_objects.current_status}}</option>
          {% else %} >
          <option class="select-hidden" disabled selected hidden value=""> -- Select Current Status -- </option>
          {%endif%}
          {% for status in asset_status %}
          <option value="{{status.status_name}}">{{status.status_name}}</option>
          {% endfor %}
        </select>
      </li>

      <li class="requester-input">
        <label for="asset_facility">Facility<span class='required-field'>*</span></label>
        <select  name="asset_facility" class="select" id="asset_facility" required
        {% if asset_details_objects.facility.id %}>
        <option class="select-hidden" selected hidden value="{{asset_details_objects.facility.id}}">{{asset_details_objects.facility.facility_name}}</option>
        {% else %} >
        <option class="select-hidden" disabled selected hidden value=""> -- Select Asset Name -- </option>   
        {%endif%}    
        {% for facility in facilities %}
        <option value="{{facility.id}}">{{facility.facility_name}}</option>
        {% endfor %}  
        </select>
      </li>

      <li class="requester-input-description">
        <label  class='asset_description' for='description'>Other Details and Comments</label>
        <textarea  class='incident-description-textarea' rows="5" cols="33" type="text" name="description" id="description"
          placeholder="Comments...."
          {% if asset_details_objects.description %}disabled class='disabled'{% endif%}
          >{% if asset_details_objects.description %}{{ asset_details_objects.description }}{% endif%}</textarea>
      </li>
    </ul>

    <ul class="asset_user_form">
        <li>
          <header>User Details</header> 
        </li>

        <li class='requester-input'>
          <label for="search_user">Search User</label>
          <div class = 'search-box user-search-box'>

              <button type='submit' class='magnify-btn'><img class='user-search--btn' src={% static 'HTMS_App/search_icon.png' %} alt="Search Icon"></button>
              <button type='submit' class='enter-btn' ><img class='user-search--btn' src="{% static 'HTMS_App/enter_key.png' %}" alt="Entery Key logo"></button>
              <input autofocus class='search-box-input' type="text" name='search_user' id='search_user' placeholder= 'Search User...'>
           
          </div>
        </li>

        <li class="requester-input">
          <label for="search_user_selection">User Search Results<span class='required-field'>*</span></label>
          <select  name="search_user_selection" class="select disabled" id="search_user_selection" disabled>
            <option disabled selected hidden value=""> -- Please Search A User -- </option>
          </select>
        </li>

         
        <li class='requester-input'>
            <label for="name">Full Name<span class='required-field'>*</span></label>
            <input type="text" name="requester_name" id="name" placeholder="Name" required 
            {% if asset_details_objects.asset_user.first_name %} class='disabled'
            value="{{ asset_details_objects.asset_user.first_name }} {{ asset_details_objects.asset_user.last_name }}" readonly
            {% endif%}
            />
        </li>

        <li class="requester-input">
          <label for="requester_pr_number">PR Number<span class='required-field'>*</span></label>
          <input type="number" name="requester_pr_number" id="requester_pr_number" placeholder="PR Number"  required
            {% if asset_details_objects.asset_user.technician.pr_number %} class='disabled'
            value="{{ asset_details_objects.asset_user.technician.pr_number }}" readonly  
            {% endif%}
             />
        </li>

        <li class="requester-input">
          <label for="requester_designation">Designation</label>
          <input type="text" name="requester_designation" id="requester_designation" placeholder="Designation" 
          {% if asset_details_objects.asset_user.technician.designation %} class='disabled'
          value="{{ asset_details_objects.asset_user.technician.designation }}" readonly  
          {% endif%}
          />
        </li>

        <li class="requester-input">
          <label for="requester_department">Department<span class='required-field'>*</span> </label>
          <input type="text" name="requester_department" id="requester_department" placeholder="Department Name" required
          {% if asset_details_objects.asset_user.technician.department %} class='disabled'
          value="{{ asset_details_objects.asset_user.technician.department }}" readonly 
          {% endif%}
          />
        </li>

        <li class="requester-input">
          <label for="requester_email">Email</label>
          <input type="email" name="requester_email" id="requester_email" placeholder="Email ID" 
          {% if asset_details_objects.asset_user.email %} class='disabled'
          value="{{ asset_details_objects.asset_user.email }}" readonly  
          {% endif%}
          />
        </li>
        
        <li class="requester-input">
          <label for="requester_extension">Extention</label>
          <input type="number" name="requester_extension" id="requester_extension" placeholder="33333"  pattern="\d{10}" 
          {% if asset_details_objects.asset_user.technician.extension_number %} class='disabled'
          value="{{ asset_details_objects.asset_user.technician.extension_number }}" readonly  
          {% endif%}
          />
        </li>
        
        <li class="requester-input">
          <label for="requester_phone_number">Phone Number</label>
          <input type="text" name="requester_phone_number" id="requester_phone_number" placeholder="9800000000" pattern="\d{10}" 
          {% if asset_details_objects.asset_user.technician.mobile_number %} class='disabled'
          value="{{ asset_details_objects.asset_user.technician.mobile_number }}" readonly 
          {% endif%}
          />
        </li>

        <button type='submit' class='submit-button btn--create-asset'>
          <span class='btn--add btn--text'>Submit</span><span class="submit-logo">&#10174;</span>
        </button>
           
      </ul>

      <ul class="asset_incident-form">
        <li>
          <header class='incident-header'>Ticket / Incident Details</header> 
        </li>
        
        <li class='requester-input'>
          <label for="search_ticket">Search Ticket / Incident</label>
          <div class = 'search-box ticket-search-box'>

              <button type='submit' class='magnify-btn'><img class='ticket-search--btn' src={% static 'HTMS_App/search_icon.png' %} alt="Search Icon"></button>
              <button type='submit' class='enter-btn' ><img class='ticket-search--btn' src="{% static 'HTMS_App/enter_key.png' %}" alt="Entery Key logo"></button>
              <input autofocus class='search-box-input' type="text" name='search_ticket' id='search_ticket' placeholder= 'Search Ticket / Incident...'>
           
          </div>
        </li>

        <li class="requester-input">
          <label for="search_ticket_selection">Ticket Search Results<span class='required-field'>*</span></label>
          <select  name="search_ticket_selection" class="select disabled" id="search_ticket_selection" disabled>
            <option disabled selected hidden value=""> -- Please Search For A ticket -- </option>
          </select>
        </li>

        
        <li class='requester-input'>
          <label for="request_type">Request Type <span class='required-field'>*</span></label>
          <select  {% if asset_details_objects.assign_to_ticket.request_type %} disabled class="select disabled"{% endif %} name="request_type" class="select" id="request_type" required>
          
            
              {% if asset_details_objects.assign_to_ticket.request_type %}
              <option 
                value="{{ asset_details_objects.assign_to_ticket.request_type }}" selected hidden>
                {{ asset_details_objects.assign_to_ticket.request_type }}
                {% else %}
              <option 
                disabled selected hidden value="">
                -- Select Request Type --     
              {% endif%}
              
            </option>
            {% if new_inc_req_type %}
            {% for new_inc in new_inc_req_type %}
    
            <option value="{{ new_inc.request_name }}">
              {{ new_inc.request_name }}
            </option>
            {% endfor %}
            {% endif %}
          </select>
        </li>
       


        
        <li class='requester-input'>
          <label for="request_status">Status <span class='required-field'>*</span></label>
          <select disabled name="request_status" class="select disabled" id="request_status">
            {% if asset_details_objects.assign_to_ticket.request_status %}
            <option 
            value="{{ asset_details_objects.assign_to_ticket.request_status }}"  selected hidden
            >
            {{ asset_details_objects.assign_to_ticket.request_status }}
            </option>
            {% else %}
            <option 
             disabled selected hidden value="">
             -- Select Status --
            </option>
            {% endif%}
            
            {% if new_inc_status %}
            {% for stats in new_inc_status %}
            <option value="{{ stats.status_name }}">
              {{ stats.status_name }}
            </option>
            {% endfor %}
            {% endif %}
          </select>
        </li>
        

        
        <li class='requester-input'>
          <label for="request_mode">Mode <span class='required-field'>*</span> </label>
          <select {% if asset_details_objects.assign_to_ticket.request_mode %} disabled class="select disabled" {%endif%} name="request_mode" class="select" id="request_mode">

            {% if asset_details_objects.assign_to_ticket.request_mode %}
            <option 
            value="{{ asset_details_objects.assign_to_ticket.request_mode }}"  selected hidden
            >
            {{ asset_details_objects.assign_to_ticket.request_mode }}
            </option>
            {% else  %}
            <option 
             disabled selected hidden value="">
             -- Select Mode --
           </option>
            {% endif%}
            {% if new_inc_mode %}
            {% for mode in new_inc_mode %}
            <option value="{{ mode.mode_name }}">
              {{ mode.mode_name }}
            </option>
            {% endfor %}
            {% endif %}
          </select>
        </li>
        

        
        <li class='requester-input'>
          <label for="request_priority">Priority <span class='required-field'>*</span></label>
          <select {% if asset_details_objects.assign_to_ticket.request_priority %} disabled class="select disabled" {% endif %} required name="request_priority" class="select" id="request_priority">
            
            {% if asset_details_objects.assign_to_ticket.request_priority %}
            <option 
            value="{{ asset_details_objects.assign_to_ticket.request_priority }}"  selected hidden
            >
            {{ asset_details_objects.assign_to_ticket.request_priority }}
            </option>
            {% else %}
            <option 
             disabled selected hidden value="">
             -- Select Priority --
           </option>
            {% endif%}
            {% if new_inc_priority %}
            {% for priority in new_inc_priority %}
            <option value="{{ priority.priority_name }}">
              {{ priority.priority_name }}
            </option>
            {% endfor %}
            {% endif %}
          </select>

        </li>
        
        <li class='requester-input'>

          <label for="location">Department Location<span class='required-field'>*</span></label>
          <select {% if asset_details_objects.assign_to_ticket.location %} disabled class="select disabled" {% endif %}  required name="location" class="select" id="location">

            {% if asset_details_objects.assign_to_ticket.location %}
            <option
            value="{{ asset_details_objects.assign_to_ticket.location }}"  selected hidden
            >
            {{ asset_details_objects.assign_to_ticket.location }}
            </option>
            {% else %}
            <option
             disabled selected hidden value="">
             -- Select a Department Location --
           </option>
            {% endif%}
            
            {% if locations_obj %}
            {% for locations in locations_obj %}
            <option value="{{ locations.location_floor }} - {{ locations.location_name }}">
              {{ locations.location_floor }} - {{ locations.location_name }}
            </option>
            {% endfor %}
            {% endif %}
          </select>

        </li>
        
        <li class='requester-input'>

          <label for="request_category">Category <span class='required-field'>*</span></label>
          <select {% if asset_details_objects.assign_to_ticket.request_category %} disabled class="select disabled" {% endif %}  required name="request_category" class="select" id="request_category">

            {% if asset_details_objects.assign_to_ticket.request_category %}
            <option
            value="{{ asset_details_objects.assign_to_ticket.request_category }}"  selected hidden
            >
            {{ asset_details_objects.assign_to_ticket.request_category }}
            </option>
            {% else %}
            <option
             disabled selected hidden value="">
             -- Select Category --
           </option>
            {% endif%}
            
            {% if new_inc_category %}
            {% for category in new_inc_category %}
            <option value="{{ category.category_name }} - {{ category.subcategory_name }}">
              {{ category.category_name }} - {{ category.subcategory_name }}
            </option>
            {% endfor %}
            {% endif %}
          </select>

        </li>
        


        
        <li class='requester-input'>
          <label for="request_technician">Technician</label>
          <select {% if asset_details_objects.assign_to_ticket.request_technician or  asset_details_objects.assign_to_ticket %} disabled class="select disabled" {% endif %} class="select" name="request_technician" id="request_technician">
            {% if asset_details_objects.assign_to_ticket.request_technician %}
            <option
            value="{{ asset_details_objects.assign_to_ticket.request_technician.id }}"  selected hidden
            >
            {{ asset_details_objects.assign_to_ticket.request_technician.first_name }} {{ asset_details_objects.assign_to_ticket.request_technician.last_name }} ({{ asset_details_objects.assign_to_ticket.request_technician.username }} )
            </option>
            {% else %}
            <option value=""
             disabled selected hidden >
             -- Select Technician --
           </option>
           <option hidden value="0">No Technician is Assigned (Open)</option>
            {% endif%}
            {% if technician %}
            {% for tech in technician %}
            <option value={{tech.id}}>{{ tech.first_name }} {{ tech.last_name }} ({{ tech.username }})</option>
            {% endfor %}
            {% endif %}
          </select>

        </li>
        

        <li class='requester-input'>
          <label for="subject">Subject <span class='required-field'>*</span></label>
          <input type="text" name="subject" id="subject" placeholder="Subject" required 
          {% if asset_details_objects.assign_to_ticket.subject %}  class='incident-input disabled'
          value="{{ asset_details_objects.assign_to_ticket.subject }}" disabled
          {% endif%}
          class='incident-input'/>
        </li>

        <li><input type="text" name='asset_detail_pk' hidden value="{{ asset_details_objects.id }}">
      </ul>




  </section>
  
  {% endif %}

</form>
{%endif%}

{% if bulk_add_quantity %}
<form class ="new-incident-form" action="{% url 'new_assets' %}" method='post' enctype='multipart/form-data'>
  {%csrf_token%}
  <div class="new-incident-header">
    <span for="header">
      {% if asset_header %}
      {{ asset_header }}
      {%endif%}
    </span>
  </div>
  
  <input type="hidden" name="bulk_add_qty_asset" value="bulk_add_qty_asset">
      
  {% comment %} {{form.file}} {% endcomment %}
  <label for="id_file" class="bulk-card">
      <img src="{% static "HTMS_App/excel.png" %}" alt="Upload Image" class="upload-file-image-excel">
      <div class="btn-container">
        <img src="{% static "HTMS_App/upload.png" %}" alt="Upload Image" class="upload-file-image">
        <header class="upload-file-header">Upload Excel</header>
      </div>
      {{form.file}}
    </label>

    <button type='submit' class='bulk-submit-button hidden'>
      <span class='btn--add btn--text bulk-sbmt-btn'>Submit</span>
    </button>

    
  </div>




  

</form>


<script>


  const displaySubmitBtn = function () {
    const inputEL = document.querySelector("#id_file")
    const submitBtn = document.querySelector(".bulk-submit-button")
    inputEL.addEventListener("change", function (e) {
      submitBtn.classList.remove("hidden")
      overlayAndSpinner()
    }
    );
  
  }

  const overlayAndSpinner = function () {   
    const searchEl = document.querySelector(".bulk-sbmt-btn");
    console.log(searchEl)
    searchEl.addEventListener('click', function (e) {
      const overlay = getOverlaySpinner()
      document.body.insertBefore(overlay, document.querySelector('header'))
      console.log(overlay)
    })
  
  }
  
  const getOverlaySpinner = function () {
    const overlay = document.createElement('div');
    const spinnerHtml = '<div class="loader">Loading...</div>'
    overlay.classList.add('overlay');
    overlay.style.position = 'fixed';
    overlay.style.width = '100%';
    overlay.style.height = '100%';
    overlay.style.backgroundColor = 'black';
    overlay.style.opacity = '0.5';
    overlay.style.zIndex = 999;
    overlay.innerHTML += spinnerHtml
  
    // document.body.insertBefore(overlay);
    return overlay
  
  }
  
  displaySubmitBtn()
  overlayAndSpinner()

</script>
  {% endif %}



{% if bulk_asset_scrap %}
  <form class ="new-incident-form" action="{% url 'new_assets' %}" method='post' enctype='multipart/form-data'>
    {%csrf_token%}
    <div class="new-incident-header">
      <span for="header">
        {% if asset_header %}
        {{ asset_header }}
        {%endif%}
      </span>
    </div>
    
    <input type="hidden" name="bulk_asset_scrap" value="bulk_asset_scrap">

    <label for="id_file" class="bulk-card">
      <label  class='bulk_text_area_label' for='bulk_text_area'>Asset Serial Numbers To Scrap</label>
      <textarea  class='bulk_text_area' rows="5" cols="5" type="text" name="bulk_text_area" id="bulk_text_area"
        placeholder="Please Enter the Serial Numbers of Assets" required></textarea>
      <div class='current_status_dropdown'>
        <label  class='current_status_label' for='current_status_select'>New Status :</label>
        <select  name="current_status_select" class="current_status_select" id="current_status_select" required>
          <option class="select-hidden" disabled selected hidden value=""> -- Select Current Status -- </option>
          <option value="Returned To Vendor">Returned To Vendor</option>
          <option value="Scrapped">Scrapped</option>
        </select>
      </div>
    </label>

    <button type='submit' class='bulk-submit-button'>
      <span class='btn--add btn--text bulk-sbmt-btn'>Submit</span>
    </button>

    
  </div>




  

</form>
        
{% endif %}


{% endblock new_assets %}


              
                